<h2>{{ titulo }}</h2>
<form action="{% url 'operaciones:solucion' %}" method="post">
{% csrf_token %}
     dato1:
     <input type="text" name="dato1" ><br>
     dato2:
     <input type="text" name="dato2" ><br>
     operacion:
     <select name="select">
       <option  value="suma" selected >suma</option>
       <option  value="resta" >resta</option>
       <option  value="multiplicacion">multiplicacion</option>
     </select>
     enviar:
     <input type="submit" name="submit" value="Enviar">
</form>